:8088 {
	handle /api/readyz {
		rewrite * /readyz
		reverse_proxy backend:8080
	}

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle /internal/* {
		reverse_proxy backend:8080
	}

	handle /grafana {
		redir /grafana/ 308
	}

	handle /grafana/* {
		reverse_proxy grafana:3000
	}

	handle_path /loadtest-runner/* {
		reverse_proxy loadtest-runner:8081
	}

	handle /dozzle {
		redir /dozzle/ 308
	}

	handle /dozzle/* {
		reverse_proxy dozzle:8080 {
			flush_interval -1
		}
	}

	handle {
		reverse_proxy frontend:80
	}
}
